<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>ODONTO</title>
  <link rel="stylesheet" href="/static/viewer/style.css">
</head>
<body>

<header class="topbar">
  <div class="container header-flex">
    <img src="/static/viewer/logo.png" class="logo-img" alt="ODONTO">
    <div class="logo-text">
      <div class="logo">ODONTO</div>
      <div class="subtitle">Does Observation, Not Training Only.</div>
    </div>
  </div>
</header>

<main class="container">
  {% block content %}{% endblock %}
</main>

<footer class="footer">
  ODONTO · Visualizador COCO · Read-only
</footer>

</body>
</html>
